.MagazineTitleContainer{

    .MagazineTitleBox{
        max-width: 1024px;
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        padding: 50px 0 108px;
    }
    .Title{
        font-family: Montserrat;
        font-size: 25px;
        font-weight: 500;
        line-height: 1;
        letter-spacing: 7.5px;
        text-align: left;
        color: #444444;
    }
    .SubText{
        font-family: Noto Sans KR;
        font-size: 13px;
        font-weight: 300;
        line-height: 1.85;
        letter-spacing: normal;
        text-align: left;
        color: #333333;
    }
}
@media screen and (max-width: 1100px) {
    .MagazineTitleContainer {
      .MagazineTitleBox{
        max-width: 950px;
      }
      .SubText{
          font-size: 12px;
      }
    }
}

//미디어쿼리 분기점 Tablet 
@media screen and (max-width:1023px){
    .MagazineTitleContainer{
      .MagazineTitleBox{
        max-width: 800px;
      }
    }
  }
  
  @media screen and (max-width:870px){
    .MagazineTitleContainer{
      .MagazineTitleBox{
        max-width: 700px;
      }
    }
  }

  //미디어쿼리 분기점 Mobile 
@media screen and (max-width:767px) {
    .MagazineTitleContainer{
      margin: 0 30px;
      .MagazineTitleBox{
        flex-direction: column;
        padding-top: 30px;
        padding-bottom: 30px;
      }
      .SubText{
        font-size: 13px;
        line-height: 1.65;
        padding-top: 10px;
        br{
            display: none;
        }
      }
      .Title{
        font-size: 22px;
        line-height: 1.3;
      }
    }
  }
  
  @media screen and (max-width:500px)  {
    .MagazineTitleContainer{
      margin: 0 30px;
      .Title{
        font-size: 20px;
        line-height: 1.5;
      }
    }
  }