.BoardContainer {
  .BoardBox {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 1024px;
    .BoardContents {
      .BoardDataTop {
        display: flex;
        border-top: solid 2px #333333;
        border-bottom: solid 1px #333333;
        padding: 25px 0;
        padding-left: 25px;
        font-family: Montserrat;
        .DataTopText {
          margin-right: 100px;
        }
      }
      .BoardDataBottom {
        display: flex;
        border-bottom: solid 1px #333333;
        padding: 25px 0;
        padding-left: 25px;

        .BotttomFirstBox {
          display: flex;
          margin-right: 130px;
          .BottomFirstTitle {
            margin-right: 100px;
          }
        }
        .BotttomSecondBox {
          display: flex;
          margin-right: 130px;
          .BottomSecondTitle {
            margin-right: 100px;
          }
        }
        .BotttomThirdBox {
          display: flex;
          .BottomThirdTitle {
            margin-right: 100px;
          }
        }
      }
    }
  }
  .BoardData {
    font-size: 12px;
  }
  .BoardWriting {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 40px;
    padding-bottom: 70px;
    border-bottom: solid 1px #333333;
    font-size: 11.5px;
    font-family: Montserrat;
  }
  .BoardBtn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 70px;
  }
  .BottomFirstText {
    font-family: Montserrat;
  }
  .BottomSecondText {
    font-family: Montserrat;
  }
  .BottomThirdText {
    font-family: Montserrat;
  }
}
@media screen and (max-width: 768px) {
  .BoardContainer {
    .BoardBox {
      display: flex;
      flex-direction: column;
      margin: auto;
      max-width: 1024px;
      .BoardContents {
        .BoardDataTop {
          display: flex;
          border-top: solid 2px #333333;
          border-bottom: solid 1px #333333;
          padding: 25px 0;
          padding-left: 25px;
          font-family: Montserrat;
          .DataTopText {
            margin-right: 100px;
          }
        }
        .BoardDataBottom {
          display: flex;
          border-bottom: solid 1px #333333;
          padding: 25px 0;
          padding-left: 25px;

          .BotttomFirstBox {
            display: flex;
            margin-right: 130px;
            .BottomFirstTitle {
              margin-right: 100px;
            }
          }
          .BotttomSecondBox {
            display: none;
          }
          .BotttomThirdBox {
            display: none;
          }
        }
      }
    }
    .BoardData {
      font-size: 12px;
    }
    .BoardWriting {
      padding-left: 25px;
      padding-right: 25px;
      padding-top: 40px;
      padding-bottom: 70px;
      border-bottom: solid 1px #333333;
      font-size: 11.5px;
      font-family: Montserrat;
    }
    .BoardBtn {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 30px;
      margin-bottom: 70px;
    }
    .BottomFirstText {
      font-family: Montserrat;
    }
    .BottomSecondText {
      font-family: Montserrat;
    }
    .BottomThirdText {
      font-family: Montserrat;
    }
  }
}
