.skeletonImg{
  height: 100%;
 }
.ConsultingTitleContainer {
    .ConsultingTitleBox {
      max-width: 1024px;
      margin: auto;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      padding: 50px 0 80px;
    }
    .ConsultingTitleRight {
      text-align: right;
    }
    .ConsultingTitleLeft {
      font-size: 24.5px;
      font-weight: 500;
      letter-spacing: 7.35px;
      text-align: left;
      color: #444444;
      flex: 1 1;
      font-family: "Montserrat";
    }
    .ConsultingTitleRight {
      flex: 1;
      font-family: Noto Sans KR;
      font-size: 13px;
      font-weight: 300;
      line-height: 1.81;
      letter-spacing: normal;
      text-align: left;
      color: #333;
    }
  }
  
  @media screen and (max-width: 1100px) {
    .ConsultingTitleContainer {
      .ConsultingTitleBox {
        max-width: 950px;
      }
      .ConsultingTitleRight {
        font-size: 12px;
      }
    }
  }
  
  //미디어쿼리 분기점 Tablet 
  @media screen and (max-width:1023px){
    .ConsultingTitleContainer{
      .ConsultingTitleBox{
        max-width: 800px;
      }
      .ConsultingTitleRight{
        br{
          display: none;
        }
      }
    }
  }
  
  @media screen and (max-width:870px){
    .ConsultingTitleContainer{
      .ConsultingTitleBox{
        max-width: 700px;
      }
    }
  }
  //미디어쿼리 분기점 Mobile 
  @media screen and (max-width:767px) {
    .ConsultingTitleContainer{
      margin: 0 30px;
      .ConsultingTitleBox{
        flex-direction: column;
        padding: 30px 0 40px;
      }
      .ConsultingTitleRight{
        font-size: 13px;
        line-height: 1.65;
        padding-top: 10px;
      }
      .ConsultingTitleLeft{
        font-size: 22px;
        br{
          display: none;
        }
      }
    }
  }
  
  @media screen and (max-width:500px)  {
    .ConsultingTitleContainer{
      margin: 0 30px;
      .ConsultingTitleLeft{
        font-size: 20px;
        line-height: 1.5;
      }
    }
  }
  
.ConsultingBodyMain-container {
    max-width: 1064px;
    width: 100%;
    margin: 0px auto 80px auto;
    text-align: center;
  
    .photo-list {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
  
      > div {
        width: 29%;
        margin: 0px 2.1% 70px 2.1%;
        float: left;
      }
    }
  }
  
  .ConsultingBodyBox-container {
    display: flex;
    flex-direction: column;
    // max-width: 223px;
    width: 100%;
    margin-bottom: 60px;
    .ConsultingBodyBox-wrapper {
      cursor: pointer;
      text-decoration: none;
      .imgContainer{
        height: 371px;
        position: relative;
        span{
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          min-width: 100%;
          min-height: 100%;
        }
      }
      > div {
        text-align: left;
        &:nth-child(1) {
          display: flex;
          position: relative;
          > div {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            width: 30px;
            height: 35px;
            top: -15px;
            left: 10px;
            font-size: 11px;
            color: #ffffff;
            padding: 4px 8px;
          }
         
          img {
            width: 100%;
          }
        }
        // title & date
        &:nth-child(2) {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin: 25px 0;
          .title {
            font-size: 18px;
            font-weight: 500;
            line-height: 1;
            letter-spacing: normal;
            font-family: Montserrat;
            color: #444444;
          }
          .date {
            font-size: 12px;
            font-weight: 300;
            line-height: 1;
            letter-spacing: normal;
            color: #999999;
            font-family: Montserrat;
            border-bottom: 1px solid #999999;
          }
        }
  
        // place
        &:nth-child(3) {
          font-family: "Montserrat";
          font-size: 13px;
          font-weight: 300;
          line-height: 1.5;
          letter-spacing: normal;
          text-align: left;
          color: #999999;
        }
      }
    }
  }
  
  @media screen and (max-width: 1100px) {
    .ConsultingBodyMain-container {
      max-width: 990px;
    }
  }
  
  //미디어쿼리 분기점 Tablet 
  @media screen and (max-width:1023px){
    .ConsultingBodyMain-container {
        max-width: 840px;
    }
  }
  
  @media screen and (max-width:870px){
    .ConsultingBodyMain-container {
        max-width: 740px;
    }
  }
  
  //미디어쿼리 분기점 Mobile 
  @media screen and (max-width:767px) {
    .ConsultingContent{
      margin:0 30px;
    }
    .ConsultingBodyMain-container{
      padding: 30px 0  40px;
      .photo-list {
        > div{
          width: 100%;
          margin: 0 0 50px;
        }
        .imgContainer{
          width: 100%;
          height: 180px;
       
          img{
            object-fit: cover;
            object-position: center;
          }
      }
      }
    }
  }