.EquipmentBodyBox-container {
  display: flex;
  flex-direction: column;
  // max-width: 223px;
  width: 100%;
  margin-bottom: 60px;
  cursor: pointer;
  div {
    text-decoration: none;
    > div {
      text-align: left;
      &:nth-child(1) {
        display: flex;
        position: relative;
        margin-bottom: 21px;

        > div {
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          width: 30px;
          height: 35px;
          top: -15px;
          left: 10px;
          font-size: 11px;
          color: #ffffff;
          padding: 4px 8px;
        }
        img {
          width: 100%;
        }
      }
      // type
      &:nth-child(2) {
        font-family: Montserrat;
        font-size: 18px;
        font-weight: 500;
        line-height: 1;
        letter-spacing: normal;
        text-align: left;
        color: #444444;
        margin-bottom: 15px;
      }
      // title
      &:nth-child(3) {
        font-family: Montserrat;
        font-size: 13px;
        font-weight: 300;
        line-height: 1.54;
        letter-spacing: normal;
        text-align: left;
        color: #999999;
      }

      // description
      &:nth-child(4) {
        font-size: 12px;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.54;
        letter-spacing: normal;
        text-align: left;
        color: #999999;
        font-family: "Montserrat-light";
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .EquipmentBodyBox-container {
    display: flex;
    flex-direction: column;
    max-width: initial;
    width: 100%;
    margin-bottom: 60px;
    a {
      text-decoration: none;
      > div {
        text-align: left;
        &:nth-child(1) {
          display: flex;
          position: relative;
          margin-bottom: 21px;
          > div {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 25px;
            height: 21px;
            position: absolute;
            top: 12px;
            left: 10px;
            font-size: 11px;
            color: #ffffff;
            padding: 4px 8px;
          }
          img {
            width: 100%;
            border-radius: 10px;
          }
        }
        &:nth-child(2) {
          color: #999999;
          font-size: 11.5px;
          margin-bottom: 10px;
        }
        // title
        &:nth-child(3) {
          color: #333333;
          font-size: 13px;
          margin-bottom: 15px;
          text-overflow: ellipsis;
          overflow: hidden;
          max-width: 223px;
          max-height: 36px;
          width: 100%;
        }
        &:nth-child(4) {
          color: #a5a5a5;
          font-size: 11px;
          padding-bottom: 5px;
        }
      }
    }
  }
  // 모바일 아코디안 패딩수정
  .MuiCollapse-wrapper {
    .MuiAccordionDetails-root {
      padding: 0px;
    }
  }
}
